@import url(../fonts/Lao-MN.ttc);

@font-face {
  font-family: 'Lao MN';
  src: url('Lao-MN.eot'); /* IE9 Compat Modes */
  src: url('Lao-MN.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lao-MN.woff2') format('woff2'), /* Super Modern Browsers */
       url('Lao-MN.woff') format('woff'), /* Pretty Modern Browsers */
       url('Lao-MN.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lao-MN.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 350vh;
    font-family: "Lao MN", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

svg {
    display: flex;
    width: 4em;
    height: 4em;
    margin: 1em;
    float: right;
}

.parallax {
    display: flex;
    justify-content: flex-end;
    /* The image used */
    background-image: url("../images/dinning-table_2500x1159.jpg");
    /* Full height */
    height: 80vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text1 {
    display: flex;
    padding: 2em;
    padding-bottom: 0;
    height: 100px;
    background-color: black;
    font-size: 26px;
    color: white;
}

.parallax2 {
    display: flex;
    flex-direction: row;
    /* The image used */
    background: #000000;
    /* Full height */
    height: 80vh;
    /* Create the parallax scrolling effect */
}

.circle-div {
    display: flex;
    width: 50vw;
    margin-left: 10em;
    position: relative;
}

.circle {
    position: absolute;
    background: #ffffff;
    height: 25em;
    width: 25em;
    border-radius: 100%;
}

.phone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.arrow {
    height: 4em;
    display: flex;
    align-self: center;
}

.arrow2 {
    transform: rotate(180deg);
    height: 4em;
    display: flex;
    align-self: center;
}

.div-btn {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 80vh;
    justify-content: center;
}

.btn {
    width: inherit;
    display: flex;
    padding-bottom: 2em;
}

.parallax3 {
    display: flex;
    /* The image used */
    background-image: url("../images/forks.jpg");
    /* Full height */
    height: 90vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    display: flex;
    text-align: center;
    padding: 1em;
    padding-top: 1.8em;
}

.p2 {
    padding-top: 2.3em;
}

h1 {
    display: flex;
    color: #C30310;
    text-align: center;
    padding-top: 0.5em;
}

h2 {
    display: flex;
    text-align: center;
    padding-top: 2em;
}

.x1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.x2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.container {
    display: flex;
    background-color: white;
    width: 100vw;
    height: 250px;
    -webkit-box-shadow: 0 -8px 15px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -8px 15px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -8px 15px -6px rgba(0, 0, 0, 0.4);
    flex-direction: row;
    margin-top: 1em;
}

.d-flex {
    display: flex;
    align-items: center;
    margin: 1em;
    padding-top: 3em;
}

.arrow-d {
    height: 30px;
}

.arrow-d2 {
    transform: rotate(180deg);
    height: 30px;
}

.person {
    height: 65px;
    padding: 0.7em;
}

.text2 {
    display: flex;
    padding: 2em;
    height: 10px;
    background-color: #C30310;
    font-size: 26px;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: black;
    font-size: 26px
}

.foot-logo{
    height: 80px;
    display: flex;
    justify-content: center;
}
.logo-footer{
    padding-top: 1em;
    height: 40px;
}
.icons-container{
        display: flex;
    align-self: center;
}
.social{
    height: 80px;
    display: flex;
        justify-content: center;
}
.social-icons{
    height: 25px;
    padding: 1em;
}

footer p {
    color: white;
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 0;
}


@media screen and (max-width:650px) {
    .circle-div {
        margin-left: 0em;
    }
    .circle {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media only screen and (max-width:480px) {
    .circle {
        height: 20em;
        width: 20em;
    }
    .parallax, .parallax2, .parallax3 {
        background-attachment: scroll;
    }
    .text1, .text2 {
        height: 150px;}
}
